<!doctype html>
<html>
  <head>
    <title>GEVACO | Gerador de Variação de Cores</title>
    <link href="../normalize.min.css" rel="stylesheet" />
    <link href="./colors.css" rel="stylesheet" />
    <script src="basic.js"> </script>
    <script src="colors.js"> </script>
  </head>
  <body>
    <header>
      <h1>Gerador de Variação de Cores</h1>
      <summary>Ele cria variações entre preto e branco, o número padrão de variações em cada direção é 10, mas pode ser alterado</summary>
    </header>
    <main>
      <section id="add-color">
        <h2>Adicionar cor</h2>
        <div id="buttons-wrapper" class="buttons">
          <button id="show-color-text" onclick="activateButton('color-text')">Adicionar várias cores</button>
          <button id="show-color-selector" onclick="activateButton('color-selector')">Adicionar uma cor</button>
          <button id="show-change-steps" onclick="activateButton('change-steps')">Alterar número de variações</button>
        </div>
        <form class="input-wrapper">
          <input value="#666666" onchange="addColor(event.target.value)" id="color-selector" hidden type="color" />
          <textarea autocapitalize="characters" onchange="addList(event.target.value)" id="color-text" rows="3" hidden></textarea>
          <input min="2" max="32" value="10" id="change-steps" onchange="changeSteps(event.target.value)" hidden type="number" step="1" />
        </form>
      </section>
      <section id="code-list">
        <h2>Cores adicionadas</h2>
        <summary id="summary-list">Você não tem nenhuma cor adicionada</summary>
        <div id="list">
        </div>
      </section>
      <section>
        <h2>Variações</h2>
        <div id="color-variations">
        </div>
      </section>
    </main>
  </body>
</html>
